.profile-navbar {
    background-color: #ffffff;
    padding: 1rem;
  }
  
  .profile-navbar-icon {
    vertical-align: middle;
    margin-right: 5px;
    color: #F3684A;
  }
  
  .profile-navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .profile-navbar-link {
    display: block;
    color: #F3684A;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    font-family: 'Inter';
    font-weight: 500;
  }
  
  .profile-navbar-links .profile-navbar-link.active-link {
    background-color: #F3684A;
    color: #ffffff;
  }
  